<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="head::head"></head>
<body>
    <div class="container">
<!-- --------------------------------------------TITLE 1------------------------------------------- -->
        <div class="container-fluid background-title">
            <div class="row">
                <div class="col-10 title">Deposit money into customer's account</div>
                <a href="/" class="btn btn-outline-info col-2 btn-title">
                   <i class="fa fa-list" aria-hidden="true"></i> Customer List
                </a>
            </div>
        </div>
        <th:block th:switch="${message}">
            <script th:case="'success'">
                Swal.fire(
                    'Deposit Success!',
                    'You clicked the button!',
                    'success'
                )
            </script>
            <script th:case="'Can not find this customer'">
                Swal.fire({
                    icon: 'error',
                    title: 'Can not find this customer',
                    text: document.querySelector("#error").textContent,
                    footer: '<a href="">Why do I have this issue?</a>'
                })
            </script>
        </th:block>
<!-- --------------------------------------------TITLE 1------------------------------------------- -->
        <form th:action="@{'/deposit/'+${customer.getId()}}" method="post" th:object="${customer}">
            <div class="row">
                <div class="col-6">
                    <label>Customer ID</label>
                    <br>
                    <input class="form-control" th:field="*{id}" disabled>
                </div>
                <div class="col-6">
                    <label>Fullname</label>
                    <br>
                    <input class="form-control" th:field="*{fullName}" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Current Balance ($)</label>
                    <br>
                    <input class="form-control" th:field="*{balance}" disabled>
                </div>
                <div class="col-6">
                    <label>Transaction amount ($)</label>
                    <br>
                    <input class="form-control" name="amount" id="amount" placeholder="Ex: 123456789123">
                </div>
            </div>
            <br>
            <div class="col-5">
                <button type="submit" class="btn btn-outline-info col-3 btn-title deposit" style="color: green; border-color: green;">
                    <i class="fa fa-plus" aria-hidden="true"></i> Deposits
                 </button>
            </div>
        </form>
        <script>
            let input = document.getElementsByTagName("input");
            let regex = /^[1-9]([0-9]){0,11}$/;
            let inputMoney = document.getElementById("amount").value;
            function checkRegex(){
                let inputMoney = document.getElementById("amount").value;
                return regex.exec(inputMoney);
            }
            document.querySelector("form").addEventListener("submit", (e)=>{
                console.log(checkRegex())
                for(let i=0; i<input.length; i++){
                    if(input[i].value=="" || input[i].value==null) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Transaction is null',
                            text: '',
                            footer: ''
                        })
                        e.preventDefault();
                        return;
                    }
                }
                if(checkRegex()===null){
                    Swal.fire({
                        icon: 'error',
                        title: 'Transaction money is valid',
                        text: 'Transaction money must start at number that is more than 0',
                        footer: 'Transaction money must be less than 999999999999'
                    })
                    e.preventDefault();
                }
            })
        </script>
    </div>
</body>
</html>